<DOCTYPE! html>
<html>
<head>
	<title></title>
</head>
<body ng-app>

<div>
	<div> 
		<input type="text" ng-model="noun" placeholder='noun'>
  		<span>{{noun}}</span> 
  		</div>
		
	

	<div><input type="text" ng-model="adjective" placeholder="adjective">
  		<span>{{adjective}}</span> 
  		</div>



  </div> 
  <div>
<input type= "number" ng-model="number">

<input type="number" ng-model="number2">



<h1> {{number}} + {{number2 }} = {{number * number2}}  </h1></div>  







  




<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="beatles.js"></script>
</body>
</html>