header{
	height:10em;
	width:100%;
	background-color: #B1EDE8;
}
nav{
	height:2em;
	width:100%;
	background-color: #B2B0AE;
}

form{
height: 4em;
width: 20%;
background-color: #8E5757;
float:right;

}

h1{
height:16em;
width: 20%;
background-color: #6D72FF;
float: right;
margin-bottom: 80%
}

h2{
	height:20em;
	width: 80%;
	background-color: #9BCC70;
}