.logo{
	height: 250;
	width:250;
	background-color:blue;
	text-align: center;
	margin:25px;
}
.toggle{
	background-color:red;

}

header{
	position:fixed;
	top:0px;
	bottom:100%;
	height:20px;
	width:100%;
	background-color: white;
}

body{
	background-repeat: no-repeat;
	background-size: 100%

}