#One {
	text-align: center;
	position: static;
	background: green;
	border: solid black;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	height : 300px;
	width: 300px;
	z-index: 1;
	text-shadow:;
}
#one:hover{
	background-color: red;
	border-radius: 150px;
}

#Two{
	position:absolute;
	top: 25%
	bottom:25%;
	background:red;
	border:solid black;
	height: 100px;
	width:100px;
	border-radius: 50px;
	text-align: center;
	z-index: 2;
	box-shadow: 1px 1px 1px blue
}

#three{
	text-align: center;
	position: fixed;
	background:purple;
	border:solid black;
	top:300px;
	left:500px;
	margin:50px 50px 50px 50px;
	padding: 5px 5px 5px 5px;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	z-index: 3;
}

#four{
	text-align: center;
	position:relative;
	border: solid black;
	margin: 25px 25px 25px 25px;
	padding:10px 10px 10px 10px;
	height:250px;
	width: 250px;
	border-radius: 125px;
	float: right;
	z-index: 4;
	background-color: radial-gradient(to right, red, green);

}
